name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  plugin_test:
    name: asdf plugin test
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
        version:
          - latest
          # Test an old version that uses .zip on Linux (pre-1.0.92)
          - "1.0.91"
    runs-on: ${{ matrix.os }}
    steps:
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@6a442392015fbbdd8b48696d41e0051b2698b2e4 # v2
        with:
          command: opencode --version
          version: ${{ matrix.version }}
